## Macro Name: page-data-version
## Visibility: Visible to all users in the Macro Browser
## Macro Title: Page Data - Version
## Description: Add the page's version to the page
## Categories: Confluence content
## Macro Body Processing: No macro body
##
## Developed by: Trevor Highfill
## Date created: August 4th, 2018

## @noparams
<p>
    $content.getVersion()
</p>